.main-section {
    text-align: center;
    margin: 9% auto 0;
    width: 50%;
    padding: 20px;
    box-shadow: rgba(252, 250, 250, 0.2) 0px 7px 29px 0px;
    background-color: #fcf9f9;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form-side {
    width: 50%;
    margin-top: 2%;
}
.form-side form#form-search {
    display: flex;
    flex-direction: column;
}
.image-side {
    background-image: url(../assets/images/cripto.png);
    height: 400px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-side #form-search select {
    font-size: inherit;
    margin: 8px 0px 7px;
    background-color: aliceblue;
    padding: 8px 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    border: solid 1px #ada2a2;
    color: #736d6d;
}
input[type="submit"] {
    margin: 9px auto 0px;
    width: 50%;
    color: cadetblue;
    background-color: #00a478;
    border: solid 0px #ada2a2;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 3px;
    color: #FFF;
    height: 37px;
    font-family: 'Montserrat', sans-serif;
}
input[type="submit"]:hover {
    color: #00a478;
    background-color: #fff;
    border: solid 2px #00a478;
}
.error {
    color: red;
}
.display-info p span{
    font-weight: 700;
}
.display-info .main-price{
    font-size: 28px;
    margin-bottom: 2px;
}