.logIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

input {
    outline: 0;
    background-color: whitesmoke;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.boton {
    text-transform: uppercase;
    outline: 0;
    background-color: rgb(112, 112, 161);
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(84, 84, 209);
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}