@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/font/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
}

body {
    background-color: rgb(112, 112, 161);
}

/* header */

.nav {
    display: flex;
    justify-content: space-between;
}

nav{
    background: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    padding: 15px;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;

}
li a.active, li a:hover{
    background: rgb(84, 84, 209)violet;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.header #btn button {
    font-size: 20px;
    color: aliceblue;
    padding: 10px 25px;
    background-color: rgb(112, 112, 161);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.header #btn button:hover {
    background-color: rgb(84, 84, 209);
}

.nav {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
#check{
    display: none;
}

/* titulo */ 

h1 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: space-between;
    padding: 100px 12%; 
}

.titulo h1 {
    font-size: 6rem;
    font-weight: bold;
    color: azure;

}

.subtitulo {
    display: flex;
    justify-content: space-between;
    padding: 100px 12%;
}

.subtitulo h2 {
    font-size: 3rem;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    color: transparent;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .copyright {
    font-size: 15px;
    padding: 10px 12%;
}

.footer .developer {
    font-size: 15px;
    padding: 10px 12%;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .titulo {
        display: flex;
        flex-direction: column;
    }
    .titulo h1 {
        font-size: 6rem;
    }
    .subtitulo {
        display: flex;
        flex-direction: column;
    }
    .subtitulo h2 {
        font-size: 3rem;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer .copyright {
        font-size: 20px;
        padding: 20px 24%;
    }
    .footer .developer {
        font-size: 20px;
        padding: 20px 24%;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    h1 {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    ul{
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        line-height: 25px;
    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(84, 84, 209);
        
    }
    #check:checked ~ ul{
        left:0;
    }
    .conversor {
        padding: 15px;
    }
    .calcuPrestamo{
        padding: 15px;
    }
    .tarjetas{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer .copyright {
        font-size: 10px;
        padding: 10px 12%;
    }
    .footer .developer {
        font-size: 10px;
        padding: 10px 12%;
    }
    .titulo {
        display: flex;
        flex-direction: column;
    }
    .titulo h1 {
        font-size: 3rem;
    }
    .subtitulo {
        display: flex;
        flex-direction: column;
    }
    .subtitulo h2 {
        font-size: 1.5rem;
    }
    
    /* cripto */
    .main-section {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .image-side {
            display: none;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .display-info .main-price{
        font-size: 10px;
        margin-bottom: 2px;
    }
}